div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

h1 {
  font-weight: 100;
  font-size: 15pt;
}

#controlPanel {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 0.5s ease-in-out;
}
#controlPanel:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
